.title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-title{
    color: var(--Slate-1100);
}

.clear-all{
    font-size: 13px;
    text-decoration: underline;
    color: var(--Slate-700);
    padding-bottom: 2px;
    text-underline-offset: 3px;
    font-weight: 500;
}

.row{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.col-sm-12, input[type="number"]{
    width: 100%
}

.col-sm-6{
    width: 50%;
}

.input-control{
    width: 100%;
    margin-top: 5px;
    border: 1px solid var(--Slate-700);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input-control:hover{
    border: 1px solid var(--Slate-1100);
    cursor: pointer;
}

.input-control.active{
    border: 1px solid var(--Lime);
}

.input-control.is-invalid{
    border: 1px solid var(--Red);
}

.input-control.active .field-icon{
    background-color: var(--Lime);    
}

.input-control.is-invalid .field-icon{
    background-color: var(--Red);
    color: var(--White);
}

.required{
    font-size: 12px;
    color: var(--Red);
    font-weight: 500;
    margin-top: 10px;
}

.input-control input[type="number"], .input-control input[type="number"]:focus, .input-control input[type="number"]:hover{
    border: none;
    outline: none;
    color: var(--Slate-1100);
    font-weight: 700;
    margin: 0px 20px;
}

label{
    font-size: 13px;
    color: var(--Slate-700);
    font-weight: 500;
}

 /* For Chrome, Safari, Edge, and Opera */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* For Firefox */
 input[type="number"] {
     -moz-appearance: textfield;
 }

 .field-icon{
    padding: 10px;
    background-color: var(--Slate-100);
    font-size: 13px;
    font-weight: 700;
    color: var(--Slate-700);
 }

 .field-icon.left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }

 .field-icon.right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 .radio-group{
    display: flex;
    flex-direction: column;
    width: 100%;
 }

 .radio-label{
    margin: 10px 0px;
    width: 100%;
    border: 1px solid var(--Slate-700);
    background-color: var(--White);
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--Slate-1100);
    line-height: 12px;
}

.radio-label:hover{
    border: 1px solid var(--Lime);
    cursor: pointer;
}

.radio-label:has(input:checked){
    border: 1px solid var(--Lime);
    background-color: var(--Lime-light);
}

.radio-label input[type="radio"]{
    display: none;
}

.custom-radio{
    background-color: var(--White);
    width: 13px;
    height: 13px;
    border: 1px solid var(--Slate-700);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.custom-radio-selected{
    background-color: var(--Lime);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: none;
}

.radio-label input[type="radio"]:checked + .custom-radio {
    border: 2px solid var(--Lime);
}

.radio-label input[type="radio"]:checked + .custom-radio .custom-radio-selected {
    display: block;
}

.calculate-button{
    background-color: var(--Lime);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--Slate-1100);
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.calculate-button:hover{
    cursor: pointer;
    background-color: var(--Lime-medium);
}

.clear-all:hover, .input-control input[type="number"]:hover{
    cursor: pointer;
}