/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --Lime: hsl(61, 70%, 52%);
    --Lime-light: hsl(61deg 70% 52% / 20%);
    --Lime-medium: hsl(61deg 70% 52% / 60%);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%); 
    --Slate-100: hsl(202, 86%, 94%); /* Main background and form field icon background*/
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%); /*styles used in result info paragraph*/
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
    --Slate-1100: #0E2431;
}